:root {
    --primary-color: #4caf50;
    --secondary-color: #fcfcfc;
    --text-color: #ffffff;
    --accent-color: #61db67;
    --font-family: 'Arial, sans-serif';
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #181220;
    overflow: hidden;
}

.hero-content {
    flex: 1;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.hero-title .highlight {
    color: var(--primary-color);
}

.hero-subtitle {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.primary-btn {
    background-color: var(--primary-color);
    color: #fff;
}

.primary-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.secondary-btn {
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.secondary-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
}

.hero-image-container {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 0.5s ease-in-out;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.3rem;
}

.diagonal-box {
    position: relative;
    width: 100%;
    height: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(135deg, var(--primary-color) 50%, var(--accent-color) 50%);
    border-radius: 48px; /* Rounded corners for the rectangle */
    animation: colorAnimation 4s infinite;
}

@keyframes colorAnimation {
    0% {
        background: linear-gradient(135deg, #ffffff 50%, #374e5c 50% 50%);
    }
    50% {
        background: linear-gradient(135deg, #374e5c 50%, #eeeee7 50%);
    }
    100% {
        background: linear-gradient(135deg, #ffffff 50% 50%, #374e5c 50% 50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image-container {
        margin-top: 1rem;
    }
}
